<h1>eat da burger!</h1>


<h2>burgers on the menu</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li>
                {{burger_name}}
                <button data-id="{{id}}" class="devour-burger">eat! {{id}}</button>
            </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>burgers devoured</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>{{burger_name}}</li>
        {{/if}}
    {{/each}}
</ul>

<form class="add-burger">
    <input type="text" id="burger-name" placeholder="submit a burger name!">
    <br>
    <button type="submit">add new burger</button>
</form>